{{> status status='bg-dark'}}

<div class="container mb-5" style="margin-top: -100px">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-7 mx-auto">
      <div class="card border-0 rounded-4 shadow-lg">
        <div class="card-body p-4">
          <h4 class="mb-3">Payment Form</h4>

          <form
            class="needs-validation{{#if errors }} was-validated{{/if}} mb-0"
            novalidate=""
            action="/"
            method="post"
          >
            <div class="row gy-3 mb-4">
              <div class="col-sm-6">
                <label for="amount__input" class="form-label">Amount</label>
                <input
                  class="form-control"
                  id="amount__input"
                  name="amount"
                  placeholder=""
                  required=""
                  type="text"
                  value="{{ data.amount }}"
                />
                {{#if errors.amount }}
                {{#each errors.amount}}
                <div class="invalid-feedback">{{ this }}</div>
                {{/each}}
                {{/if}}
              </div>

              <div class="col-sm-6">
                <label for="currency__input" class="form-label">Currency</label>

                <select
                  class="form-select"
                  id="currency__input"
                  name="currency"
                >
                  <option selected value="EUR">Euro</option>
                  <option value="USD">US Dollar</option>
                </select>

                {{#if errors.currency }}
                {{#each errors.currency}}
                <div class="invalid-feedback">{{ this }}</div>
                {{/each}}
                {{/if}}
              </div>

              <div class="col-md-6">
                <label for="cc-name__input" class="form-label"
                  >Name on card</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="cc-name__input"
                  placeholder=""
                  required=""
                  name="cc_name"
                />
                <small class="text-body-secondary"
                  >Full name as displayed on card</small
                >

                {{#if errors.cc_name }}
                {{#each errors.cc_name}}
                <div class="invalid-feedback">{{ this }}</div>
                {{/each}}
                {{/if}}
              </div>

              <div class="col-md-6">
                <label for="cc-number__input" class="form-label"
                  >Credit card number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="cc-number__input"
                  placeholder=""
                  required=""
                  name="cc_number"
                />

                {{#if errors.cc_number }}
                {{#each errors.cc_number}}
                <div class="invalid-feedback">{{ this }}</div>
                {{/each}}
                {{/if}}
              </div>

              <div class="col-md-3">
                <label for="cc-expiration__input" class="form-label"
                  >Expiration</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="cc-expiration__input"
                  placeholder=""
                  required=""
                  name="cc_expiration"
                />

                {{#if errors.cc_expiration }}
                {{#each errors.cc_expiration}}
                <div class="invalid-feedback">{{ this }}</div>
                {{/each}}
                {{/if}}
              </div>

              <div class="col-md-3">
                <label for="cc-cvv__input" class="form-label">CVV</label>
                <input
                  type="text"
                  class="form-control"
                  id="cc-cvv__input"
                  placeholder=""
                  required=""
                  name="cc_cvv"
                />

                {{#if errors.cc_cvv }}
                {{#each errors.cc_cvv}}
                <div class="invalid-feedback">{{ this }}</div>
                {{/each}}
                {{/if}}
              </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit">
              Continue to pay
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
